--extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[awscli,boto3]
pyyaml
wget
requests
datacube[performance,s3]
odc-algo
odc-cloud
odc-io
odc-ui==0.2.1.dev3673
odc-dscache
odc-stac
odc-stats
odc-apps-cloud
odc-apps-dc-tools
# Jupyter components.
gdal==3.6.3 # to match gdal in osgeo/gdal:ubuntu-small-3.6.3
scipy
jupyter
jupyterlab
ipyleaflet 
folium
pandas 
numpy 
xarray 
matplotlib 
geopandas
scikit-image
tqdm
click 
python-dateutil 
sat-search
deafrica-tools>=2.1.1
# for tests
pytest
testbook